@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

body {
  background-color: #f5eaea64;
  color: #242020;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  max-width: 800px;
  padding: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

html {
  margin: 0;
  padding: 0;
}

.tomato {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: #ffc0c099;
  width: 50%;
  min-width: 300px;
  border-radius: 10px;
  padding: 0.5rem 2rem;

  font-family: "Agdasima", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

.button {
  border: 1px solid #00000033;
  background-color: #ffffffaa;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.button:hover {
  background-color: #00000033;
  cursor: pointer;
}
